/* Andrew Chin eats rainbows for breakfast*/

/* first some universal things */
/* ______________________________________________________________________*/


/* hacks */
.icon{background-image:none !important;} /* remove bootstrap icons */




/* typography */
/* ______________________________________________________________________*/

h1, h2, h3, h4, h5, h6, p{color:#999; font-weight:normal;}


h2{font-weight:100; text-transform: uppercase; font-size:24px; padding-bottom: 10px;}
h2 span{background-color:#444; color:#fff; padding:3px 8px;}
h4{font-size:13px; text-transform: uppercase; }

ul li,
p{font-size:18px; line-height: 28px; color:#666;}
a{color:#f51a1a; transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -webkit-transition: all .15s ease-in-out;}
a:hover{color: transparent; text-shadow: 0 0 2px rgba(245,26,26,0.8); text-decoration: none;}

hr{margin-top: 0;}


/* OVERALL BITS */
/* ______________________________________________________________________*/
.home{text-align: center; border-top:5px solid #f51a1a;}

.bit{padding:100px 0;}


::selection {background: #ffb7b7; /* Safari */}
::-moz-selection {background: #ffb7b7; /* Firefox */}

/* header */
/* ______________________________________________________________________*/
/*
.navbar-inner{background:none; margin-bottom:none; background-color:rgba(255,255,255,0.95); box-shadow: none !important; border-bottom:1px solid #ddd;}
.navbar-inner .brand{background:url(../images/header/logo.png) no-repeat center center #222; opacity:0.9; display:block; text-indent: -9999px; width:35px; height:21px; padding:20px; margin-left: 0;}
.navbar-inner .brand:hover{background-color:#f51a1a; padding-right:40px;}
.navbar-inner .nav li a{padding:18px 0; color:#f51a1a;}
.navbar-inner .nav li a:hover{color:#f51a1a; border-bottom:3px solid #f92e27;}
*/



/* hero */
.hero{background:#fff;}

.contact_me{text-align: center;padding-bottom: 8px;}
.contact_me a{padding:10px; color:#fff; background:#F51A1A;}
.contact_me a:hover{opacity:0.7;}



/* work / gallery */
/* ______________________________________________________________________*/
.work{padding-top:30px;}
.work p{text-transform: none;}
.gallery{padding-top:20px;}



/* javascript image fade effect */
/* ______________________________________________________________________*/
.fadehover{position: relative; height:140px;}
.bw{position: absolute; left: 0; top: 0; z-index: 10;}
.c{position: absolute; left: 0; top: 0;}



/* item page */
/* ______________________________________________________________________*/
.item .services{padding-left:20px;}
.item .services li{padding:5px 0;}
.item .services li i{padding-right:10px;}
.item a.external_link{position: relative; top:20px;}
.item .carousel-control{margin-top:0;}



/* footer */
/* ______________________________________________________________________*/
footer{margin-top:40px; padding-bottom:80px; text-align: center;}
footer a{padding:0 10px; color:#999;}
