/* Andrew Chin punches rainbows for breakfast*/

/* first some universal things */
/* ______________________________________________________________________*/


/* hacks */
.icon{background-image:none !important;} /* remove bootstrap icons */
i{padding-top:2px;}
/* typography */
/* ______________________________________________________________________*/

h1, h2, h3, h4, h5, h6{font-family: "proxima-nova",sans-serif; color:#999; font-weight:100}

p, a, ul li{font-family: "open-sans",sans-serif;}

h2{font-weight:200; text-transform: uppercase; font-size:30px;}
h2 span{color:#666;}
h3{font-size:18px; text-transform: uppercase; letter-spacing: 2px;}
h4{font-size:13px; text-transform: uppercase; }

ul li,
p{font-size:18px; line-height: 28px; color:#666;}
a{color:#f51a1a; transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -webkit-transition: all .15s ease-in-out;}
a:hover{color: transparent; text-shadow: 0 0 2px rgba(245,26,26,0.8); text-decoration: none;}

hr{margin-top: 0;}


/* OVERALL BITS */
/* ______________________________________________________________________*/
section{text-align: center; border-top:5px solid #f51a1a;}
.bit{padding:100px 0 100px;}


::selection {background: #ffb7b7; /* Safari */}
::-moz-selection {background: #ffb7b7; /* Firefox */}



/* HEADER */
/* ______________________________________________________________________*/
header a{background:#F51A1A; color:#fff; padding:10px; border-radius: 5px; transition: all .25s ease-in-out; -moz-transition: all .25s ease-in-out; -webkit-transition: all .25s ease-in-out;}
header a:hover{}

/* hero */
.hero{background:#fff;}


/* call to action */
.action{text-align: center;padding-bottom: 40px; margin-top:40px;}
.action a{padding:10px 15px; color:#fff; background:#F51A1A; border-radius: 3px; font-size:18px; text-shadow: 0px 2px 1px #c71414; box-shadow: inset 0px 2px 2px #c71414;}
.action a:hover{opacity:0.7;}




/* footer */
/* ______________________________________________________________________*/
footer{padding-top:40px; padding-bottom:80px; text-align: center;}
footer a{color:#999;}

/* info */
.info{padding-bottom:20px;}
.info p{color:#999; font-size:14px;}

/* social */
.social{position: relative;}
.social a{margin:0 5px; transition: all .15s ease-in-out; -moz-transition: all .15s ease-in-out; -webkit-transition: all .15s ease-in-out; opacity:0.8; position: relative;}
.social a:hover{opacity:1; top:5px;}








/* animate */
#balls {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1s;
/* 	-webkit-animation-iteration-count: infinite; */
}

#intro_body {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1.2s;
/* 	-webkit-animation-iteration-count: infinite; */
}

#contact_me {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1.4s;
/* 	-webkit-animation-iteration-count: infinite; */
}

#apples {
	-webkit-animation-duration: 0.5s;
	-webkit-animation-delay: 1.6s;
/* 	-webkit-animation-iteration-count: infinite; */
}




/* RESPONSIVE UP THE WAZOO */
/* ------------------------------------------------------------------------------------------ */
/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {
	.bit{padding-top:50px;}
}



